{
    "ignore": [
        "*.scss",
        "/node_modules/"
    ],
    "presets": [
        "es2015",
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-regenerator",
        "transform-object-rest-spread",
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}