<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        <div id="app">{{{ reactOutput }}}</div>
        {{> embeds script=true }}
    </body>
</html>